<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/styles.css" type="text/css">
    <title>Статья</title>
</head>
<body>
    <%- include(partials.header) %>
    <section class="section">
        <div class="container-fluid">
            <div class="main" style="background-image: url('<%- cms_url + content.article_preview_image.data.attributes.url %>')";>
                <div class="container">
                    <h1 class="main-heading">
                        <span class="main-heading_top">
                           <%- content.article_heading.part_black %>
                        </span>
                        <br />
                        <span class="main-heading_bottom">
                            <i></i>
                            <%- content.article_heading.part_green %>
                            <i></i>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="breadcrumbs">
        <div class="container py-0">
            <ul class="breadcrumbs-list">
                <% for(var i=0; i < breadcrumbs.length; i++) {%>
                    <li class="breadcrumb">
                        <a href="<%- breadcrumbs[i].url %>" class=""><%= breadcrumbs[i].name %></a>
                    </li>
                <% } %>
            </ul>
        </div>
        </section>
    <section class="section">
        <div class="container pb-50">
            <% for(var i=0; i < content.article_block.length; i++) {%>
                <% if((i % 2) > 0){ %>
                    <div class="content mb-50 reverse">
                        <div class="content-image">
                            <img src="<%- cms_url + content.article_block[i].main_image.data[0].attributes.url %>" alt="">
                        </div>
                        <div class="content-text">
                            <div class="content-info mt-0">
                                <p>
                                    <%- content.article_block[i].main_text %>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } else{ %>  
                    <div class="content mb-50">
                        <div class="content-text">
                            <div class="content-info mt-0">
                                <p>
                                    <%- content.article_block[i].main_text %>
                                </p>
                            </div>
                        </div>
                        <div class="content-image">
                            <img src="<%- cms_url + content.article_block[i].main_image.data[0].attributes.url %>" alt="">
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </section>
    <%- include(partials.footer) %>
</body>
</html>