<!DOCTYPE html>
<html lang="en">
<head>
    <%-  content.seo.meta_tags  %>
    <link rel="stylesheet" href="/public/styles/styles.css" type="text/css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b6b24968-9f7e-4e50-b23e-ce16950a9b80&lang=ru_RU"type="text/javascript"></script>
    <title> <%-  content.seo.seo_title  %></title>
</head>
<body>
    <%- include(partials.header) %>
        <section class="section">
            <div class="container-fluid">
                <div class="main">
                    <div class="container">
                        <h1 class="main-heading">
                            <span class="main-heading_top">
                                <%= content.main_heading %>
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="breadcrumbs">
            <div class="container py-0">
                <ul class="breadcrumbs-list">

                    <% for(var i=0; i < breadcrumbs.length; i++) {%>
                        <li class="breadcrumb">
                            <a href="<%- breadcrumbs[i].url %>" class=""><%= breadcrumbs[i].name %></a>
                        </li>
                    <% } %>

                </ul>
            </div>
        </section>
        <section class="section">
            <div class="container pb-50">
                <div class="about">
                    <h3 class="content-heading">
                        <span class="content-heading_top">
                           <%= content.block_heading.part_black %>
                        </span>
                        <span class="content-heading_bottom">
                            <%= content.block_heading.part_green %>
                        </span>
                    </h3>
                </div>
                <div class="contact">
                    <ul class="contact-list">
                        <div class="contact-list_phones">
                            <h3 class="block-heading">Телефоны:</h3>

                            <% for (var i=0; i < content.phone.length; i++) {%>
                                <li class="contact-list_item">
                                    <a href="tel:<%= content.phone[i].phone %>" class="contact-list_link">
                                        <div class="contact-list_icon__phone">
                                            <img src="/public/images/phone.svg" alt="icon-phone">
                                        </div>
                                        <span class="contact-list__text"><%= content.phone[i].phone %></span>
                                    </a>
                                </li>
                            <%}%>

                        </div>
                        <div class="contact-list_mails">
                            <h3 class="block-heading">Эл. почта:</h3>

                            <% for (var i=0; i < content.email.length; i++) {%>
                                <li class="contact-list_item">
                                    <a href="mailto:<%= content.email[i].phone %>" class="contact-list_link">
                                        <div class="contact-list_icon__mail">
                                            <img src="/public/images/mail.svg" alt="icon-phone">
                                        </div>
                                        <span class="contact-list__text"><%= content.email[i].phone %></span>
                                    </a>
                                </li>
                            <%}%>

                            <h3 class="block-heading">Сайт:</h3>
                            <li class="contact-list_item">
                                <a href="https://rcchance.ru/" target="_blank" class="contact-list_link">
                                    <div class="contact-list_icon__web">
                                        <img src="/public/images/web.svg" alt="icon-phone">
                                    </div>
                                    <span class="contact-list__text">rcchance.ru</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                    <div id="map"></div>
                </div>
            </div>
        </section>
        <section class="section bg-gray">
            <div class="container pb-50 pt-50">
                <div>

                    <% for (var i=0; i < content.contact_text.length; i++) {%>
                        <%- content.contact_text[i].main_text.trim() %>
                    <%}%>

                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="about">
                    <h3 class="content-heading">
                        <span class="content-heading_top">
                            Свяжитесь
                        </span>
                        <span class="content-heading_bottom">
                            с нами
                        </span>
                    </h3>
                </div>
                <div class="contact-main">
                    <form class="conact-modal">
                        <div class="modal-window_body">
                            <div class="modal-window_form">
                                <label class="modal-window_control" for="name">
                                    <span class="input-label">
                                        Ваше имя:
                                    </span>
                                    <input class="input input-default" type="text">
                                </label>
                                <label class="modal-window_control" for="phone">
                                    <span class="input-label">
                                        Ваш телефон:
                                    </span>
                                    <input id="phone" class="input input-default" type="text">
                                </label>
                                <label class="modal-window_control" for="question">
                                    <span class="input-label">
                                        Ваш вопрос:
                                    </span>
                                    <textarea id="question" class="textarea input-default" type="text"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="modal-window_footer">
                            <button class="modal-window_send">
                                Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <%- include(partials.footer) %>
        <script src="../public/scripts/map.js"></script>
</body>
</html>