<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/styles.css" type="text/css">
    <link rel="stylesheet" href="/public/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <title>Document</title>
</head>
<body>
    <%- include(partials.header) %>
    <section class="section">
        <div class="container-fluid">
            <div class="main" style="background-image: url('<%- cms_url + content.main_photo.data.attributes.url %> '); ">
                <div class="container">
                    <h1 class="main-heading">
                        <span class="main-heading_top">
                            <%- content.main_heading.part_black %>
                        </span>
                        <br />
                        <span class="main-heading_bottom">
                            <i></i>
                            <%- content.main_heading.part_green %>
                            <i></i>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="about">
                <h2 class="about-subheading">
                    О клинике
                </h2>
                <div class="content">
                    <div class="content-text">
                        <h3 class="content-heading">
                            <span class="content-heading_top">
                                <%- content.about_clinic_heading.part_green %>
                            </span>
                            <br />
                            <span class="content-heading_bottom">
                                <%- content.about_clinic_heading.part_black %>
                            </span>
                        </h3>
                        <div class="content-info">
                            <p>
                                <%- content.about_clinic_block.main_text %>
                            </p>
                        </div>
                        <div class="content-about">
                        <% for(var i=0; i < content.advantage_textable.length; i++) {%>
                            <div class="content-about_item">
                                <div class="content-about_item__top">
                                    <%- content.advantage_textable[i].advantage_name %>
                                </div>
                                <div class="content-about_item__bottom">
                                    <%- content.advantage_textable[i].advantage_desc %>
                                </div>
                            </div>
                        <% } %>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="<%- cms_url + content.about_clinic_block.main_image.data[0].attributes.url %>" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-gray">
        <div class="container">
            <div class="about">
                <h2 class="about-subheading">
                    Усуги
                </h2>
                <h3 class="content-heading">
                    <span class="content-heading_top">
                        <%- content.problems_we_solwed.part_green %>
                    </span>
                    <span class="content-heading_bottom">
                        <%- content.problems_we_solwed.part_black %>
                    </span>
                </h3>
            </div>
            <div class="services">
                <% for(var i=0; i < content.problems_card.length; i++) {%>
                    <div class="services-item">
                        <div class="services-item_image">
                            <img src="<%- cms_url + content.problems_card[i].problem_photo.data.attributes.url %>" alt="">
                        </div>
                        <div class="services-item_heading">
                           <%- content.problems_card[i].problem_title %>
                        </div>
                        <div class="services-item_text">
                            <p>
                                <%- content.problems_card[i].problem_text %>
                            </p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="about">
                <h2 class="about-subheading">
                    Преимущества
                </h2>
                <h3 class="content-heading">
                    <span class="content-heading_bottom">
                        <%- content.partial_heading.part_black %>
                    </span>
                    <span class="content-heading_top">
                        <%- content.partial_heading.part_green %>
                    </span>
                </h3>
                <div class="advantages">
                    <% for(var i=0; i < content.advantage_card.length; i++) {%>
                        <div class="content-about_item">
                            <div class="content-about_item__top">
                                <img src="<%- cms_url + content.advantage_card[i].advantage_icon.data.attributes.url %>" alt="">
                            </div>
                            <div class="content-about_item__bottom">
                                <%- content.advantage_card[i].advantage_name %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-gray">
        <div class="container">
            <div class="about content reverse">
                <div class="content-image">
                    <img src="<%- cms_url + content.about_our_work_text.main_image.data[0].attributes.url %>" alt="">
                </div>
                <div class="content-text">
                    <h3 class="content-heading m0">
                        <span class="content-heading_bottom">
                            <%- content.about_our_work.part_black %>
                        </span>
                        <span class="content-heading_top">
                            <%- content.about_our_work.part_green %>
                        </span>
                    </h3>
                    <div class="content-info">
                        <p>
                            <%- content.about_our_work_text.main_text %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="about">
                <h2 class="about-subheading">
                    Подход
                </h2>
                <h3 class="content-heading">
                    <span class="content-heading_top">
                        <%- content.how_we_work_heading.part_green %>
                    </span>
                    <span class="content-heading_bottom">
                        <%- content.how_we_work_heading.part_black %>
                    </span>
                </h3>
            </div>
            <div class="process">
                <% for(var i=0; i < content.how_we_work_item.length; i++) {%>
                    <div class="process-item">
                        <div class="process-image">
                            <img src="<%- cms_url + content.how_we_work_item[i].advantage_icon.data.attributes.url %>" alt="">
                        </div>
                        <div class="process-desc">
                            <h4 class="process_heading">
                                <%- content.how_we_work_item[i].advantage_name %>
                            </h4>
                            <p class="process_text">
                               <%- content.how_we_work_item[i].advantage_desc %>
                            </p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
    <section class="section bg-gray">
        <div class="container about slider-container">
            <div class="about">
                <h2 class="about-subheading">
                    отзывы
                </h2>
                <h3 class="content-heading">
                    <span class="content-heading_bottom">
                        <%- content.clients_about_us_heading.part_black %>
                    </span>
                    <span class="content-heading_top">
                        <%- content.clients_about_us_heading.part_green %>
                    </span>
                </h3>
            </div>
            <div class="owl-carousel">
                <% for(var i=0; i < content.clients_about_us_card.length; i++) {%>
                    <div class="carousel_item"> 
                        <div class="carousel_item_image">
                            <img src="<%- cms_url + content.clients_about_us_card[i].problem_photo.data.attributes.url %>" alt="">
                        </div>
                        <div class="carousel_item_name">
                            <%- content.clients_about_us_card[i].problem_title %>
                        </div>
                        <div class="carousel_item_text">
                            <%- content.clients_about_us_card[i].problem_text %>
                        </div>
                    </div> 
                <% } %>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container about slider-container">
            <div class="about">
                <h2 class="about-subheading">
                    обратная связь
                </h2>
                <h3 class="content-heading">
                    <span class="content-heading_bottom">
                        Свяжитесь
                    </span>
                    <span class="content-heading_top">
                        с нами
                    </span>
                </h3>
            </div>
            <div class="contact-main">
                <form class="conact-modal">
                    <div class="modal-window_body">
                        <div class="modal-window_form">
                            <label class="modal-window_control" for="name">
                                <span class="input-label">
                                    Ваше имя:
                                </span>
                                <input class="input input-default" type="text">
                            </label>
                            <label class="modal-window_control" for="phone">
                                <span class="input-label">
                                    Ваштелефон:
                                </span>
                                <input id="phone" class="input input-default" type="text">
                            </label>
                            <label class="modal-window_control" for="question">
                                <span class="input-label">
                                    Ваш вопрос:
                                </span>
                                <textarea id="question" class="textarea input-default" type="text"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="modal-window_footer">
                        <button class="modal-window_send">
                            Отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <%- include(partials.footer) %>
</body>
</html>