<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/styles.css" type="text/css">
    <title>Новости</title>
</head>
<body>
    <%- include(partials.header) %>
    <section class="section">
        <div class="container">
            <div class="content">
                <div class="content-text">
                    <h1 class="content-heading">
                        <span class="content-heading_top news-heading">
                            Новости
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="breadcrumbs">
        <div class="container py-0">
            <ul class="breadcrumbs-list">
                <% for(var i=0; i < breadcrumbs.length; i++) {%>
                    <li class="breadcrumb">
                        <a href="<%- breadcrumbs[i].url %>" class=""><%= breadcrumbs[i].name %></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </section>
    <section class="section">
        <% for(var i=0; i < content.length; i++) {%>
            <div class="container-fluid mt-20">
                <div class="main single-news_main" style="background-image: url('<%- cms_url + content[i].article_preview_image %>')";>
                    <div class="container">
                        <h2 class="main-heading">
                            <span class="main-heading_top">
                                <%- content[i].article_heading.part_black %>
                            </span>
                            <span class="main-heading_bottom">
                                <%- content[i].article_heading.part_green %>
                            </span>
                        </h2>
                        <div class="single-news_text">
                            <p class="single_news__p">
                                <%- content[i].article_preview_text %>
                            </p>
                        </div>
                        <a href="/news/<%- content[i].slug %>" class="btn_default">
                            Читать подробнее
                        </a>
                    </div>
                </div>
            </div>
        <% } %>
    </section>
    <%- include(partials.footer) %>
</body>
</html>